<div id="mt3-debug-info">
    <div class="source-mt3">
         <ul>
             {{#each request.original}}
                <li>hi</li>
             {{/each}}
         </ul>
    </div>
    <div class="mt3-target">

    </div>
    <div class="target-mt3">

    </div>
    <div class="mt3-source">

    </div>
</div>