<div>
    <link href="/stylesheets/navbar.css" rel="stylesheet" type="text/css"></link>
    <div id="mt3-navbar">
        <div class="mt3-navbar-inner">
            <button type="button" id="mt3-navbar-close" >&larr;</button>
            <form id="mt3-navbar-form">
                <input type="text" class="mt3-input" id="mt3-btn-nav-value" placeholder="http://www.google.com"></input>
                <button type="submit" class="mt3-btn">Go</button>
            </form>
        </div>
    </div>
    <div id="mt3-btn-nav-tab">
        <button type="button" id="mt3-nav-tab-open" style="">&rarr;</button>
    </div>
    <script src="/scripts/helpers.js"></script>
</div>